{
  "packages/**/src/**/*.{js,jsx,ts,tsx,cjs}": "eslint",
  "packages/**/test/**/*.{js,jsx,ts,tsx,cjs}": "eslint",
  "packages/**/demo/**/*.{js,jsx,ts,tsx,cjs}": "eslint",
  "packages/**/*.{config,test}.{js,jsx,ts,tsx,cjs}": "eslint"
}
