{
  "packages/**/src/**/*.{js,jsx,ts,tsx,cjs}": "eslint --fix",
  "packages/**/test/**/*.{js,jsx,ts,tsx,cjs}": "eslint --fix",
  "packages/**/demo/**/*.{js,jsx,ts,tsx,cjs}": "eslint --fix",
  "packages/**/*.{config,test}.{js,jsx,ts,tsx,cjs}": "eslint --fix"
}
